@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-queue {
  padding: 0 1rem;
  order: 2;

  @include tablet {
    padding: 0 2.5rem;
  }

  @include desktop {
    border-left: 0.0625rem solid $secondary-inactive;
  }

  &__title {
    @include labels-buttons-mobile-font;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #afafaf;
  }
}

.video-card {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: start;
  margin-bottom: 1rem;
  text-decoration: none;
  color: $primary-text;

  &__image {
    height: 4rem;
    width: 6rem;
    border-radius: 0.25rem;
  }

  &__info {
    @include body-copy-mobile-font;
    height: 4rem;
    width: 10rem;
    padding-left: 1rem;
  }

  &__title {
    margin: 0;
    font-weight: 600;
  }
}
