//breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;

//colours
//primary colours
$primary-text: #323232;
$primary-background: #fff;
$primary-cta: #0095ff;
$secondary-text: #afafaf;

//secondary-colours
$secondary-components: #000;
$secondary-background: #fafafa;
$secondary-cta: #0065ad;
$secondary-inactive: #e1e1e1;

$max-content-width: 1090px;
