@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-info {
  padding: 0 1rem;
  &__title {
    @include page-header-mobile-font;
    border-bottom: 1px solid $secondary-inactive;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }

  &__subtitle {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-inactive;
    font-size: 0.8rem;
  }

  &__subtitile-right {
    padding-right: 2rem;
  }

  &__channel {
    font-weight: 700;
  }

  &__date,
  &__views,
  &__likes {
    color: $secondary-text;
  }

  &__description {
    @include body-copy-mobile-font;
  }
}
