@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  padding: 0 1rem;

  @include desktop {
    border-right: 0.0625rem solid $secondary-inactive;
    padding-right: 0;
  }
}

.comment-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid $secondary-inactive;

  &:first-child {
    border-top: 0.0625rem solid $secondary-inactive;
  }

  @include tablet {
    width: 95%;
    margin: 0 auto;
    margin: 0 1.5rem;
    padding: 0.5rem 0;
  }

  @include desktop {
    padding-right: 0;
    margin-right: 0;
  }

  &__image {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: $secondary-inactive;
    margin-top: 1rem;

    @include tablet {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &__output {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 83%;

    @include tablet {
      width: 90%;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__name {
    @include subheader-mobile-font;
    width: 50%;
    overflow: hidden;
  }

  &__date {
    @include body-copy-mobile-font;
    color: $secondary-text;
  }

  &__text {
    @include body-copy-mobile-font;
    margin-top: 0.5rem;
  }
}
