@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.bottom-wrapper {
  max-width: $max-content-width;
  margin: 0 auto;
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.video-content-wrapper {
  @include desktop {
    width: 100%;
  }
}
